#imageContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10;
  left: 10;
}

#imageContainerHorses {
  display: block;
  justify-content: center;
  position: absolute;
  top: 100;
  left: 10;
  margin-top: 100px;
  margin-left: 10px;
}

.game-cards {
  height: 100px;
  margin: 0 20px;
}

.side-cards {
  height: 100px;
  margin: 0 20px;
  transform: rotate(90deg);
}

.horse-cards {
    height: 100px;
    transform: rotate(90deg);
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
}

.grid-item {
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 100px;
  width: 35px;
}

.header {
  font-size: 36px;
  font-weight: bold;
  color: blue;
}

.background {
  background-image: url('images/horseracetrack.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}