<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Page 1</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  </head>
  <body>
    <h1>Welcome to Page 1</h1>
    <form id="addPlayer">
        <label for="username">Name:</label>
        <input type="text" name="username">

        <label for="horse">Horse:</label>
        <select id="horseId" name="list">
            <option value="CLUBS">CLUBS</option>
            <option value="SPADES">SPADES</option>
            <option value="DIAMONDS">DIAMONDS</option>
            <option value="HEARTS">HEARTS</option>
          </select>
        
        <label for="bet">Bet:</label>
        <input type="number" name="bet">
        
        <button type="submit">Submit</button>
    </form>

    <script th:src="@{/js/addPlayer.js}"></script>
  
  </body>
</html>
