<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/addPlayer.css}"/> 
  </head>
  <body>
    <div class="contact-us">
      <form id="addPlayer">
        <input placeholder="Name" type="text" name="username">
        
        <input placeholder="Bet" type="number" name="bet">

        <div class='pets-weight'>
          <div class='radio-container'>
            <input checked='' id='CLUBS' name='horse' type='radio' value='CLUBS'>
            <label for='CLUBS'>Clubs</label>
            <input id='SPADES' name='horse' type='radio' value='SPADES'>
            <label for='SPADES'>Spades</label>
            <input id='HEARTS' name='horse' type='radio' value='HEARTS'>
            <label for='HEARTS'>Hearts</label>
            <input id='DIAMONDS' name='horse' type='radio' value='DIAMONDS'>
            <label for='DIAMONDS'>Diamonds</label>
          </div>
        </div>
        <button type="submit">Submit</button>
    </form>

    
    </div>
    <script th:src="@{/js/addPlayer.js}"></script>
  </body>
</html>
