<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Page 1</title>
  </head>
  <body>
    <h1>Welcome to Page 1</h1>
    <form id="addPlayer">
        <label for="username">Name:</label>
        <input type="text" name="username">

        <label for="horse">Horse:</label>
        <select id="horseId" name="list">
            <option value="CLUBS">CLUBS</option>
            <option value="SPADES">SPADES</option>
            <option value="DIAMONDS">DIAMONDS</option>
            <option value="HEARTS">HEARTS</option>
          </select>
        
        <label for="bet">Bet:</label>
        <input type="number" name="bet">
        
        <button type="submit">Submit</button>
    </form>

    <script>
        const form = document.getElementById("addPlayer");
        
        form.addEventListener("submit", event => {
        event.preventDefault();
        
        const formData = new FormData(form);
        const data = {};
        
        for (const [key, value] of formData.entries()) {
            if (key === "bet") {
            data[key] = parseInt(value, 10);
            } else {
            data[key] = value;
            }
            console.log(data[key])
            console.log(data[value])
        }
        console.log(JSON.stringify(data))

        fetch("/joinGame", {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        });
    </script>
  
  </body>
</html>
